
<div class="post">
    <div class="top-action-container">
        <div>
            <button id="pop-out-button" (click)="stepThreadBack()" type="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
        </div>
        <div class="action-buttons">
            <button id="pop-out-button" (click)="popOutThread()" type="button"><i class="fa fa-clone" aria-hidden="true"></i></button>
            <button id="pop-out-button" (click)="stepThreadForward()" type="button"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <h3 class="post-title">{{post?.title}}</h3>
    <p class="post-paragraph">{{post?.contentText}}</p>
    <div *ngFor="let image of post?.photos" class="image-container">
        <img src="{{image.url}}" alt="Girl in a jacket" class="post-image">
    </div>
    <div class="bottom-action-container">
        <button class="expand-post-button" *ngIf="threadLength != 0" (click)="expandTogglePressed()" type="button">+{{threadLength}} posts</button>
        
        <div class="action-buttons">
            <button id="add-post-button" (click)="addPost()" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button id="add-post-button" (click)="deletePost()" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
            <!--<label class="add-post-label" for="add-post-button"><i class="fa fa-plus" aria-hidden="true"></i></label>-->
        </div>
    </div>
</div>

