.thread-display{
    max-width: 30vw;
    min-width: 30vw;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: rgb(22, 22, 22);
    overflow-y: auto;
}
.top-button-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}