@media only screen and (max-width: 600px) {
    .thread-display{
        width: 95vw;
        height: 93vh;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-style: solid;
        border-color: whitesmoke;
        border-width: 3px;
        border-radius: 10px;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(70,70,70,1) 50%, rgba(0,0,0,1) 75%);
        overflow-y: auto;
    }
  }
  @media only screen and (min-width: 600px) {
    .thread-display{
        max-width: 25vw;
        min-width: 25vw;
        height: 93vh;
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-style: solid;
        border-color: whitesmoke;
        border-width: 3px;
        border-radius: 10px;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(70,70,70,1) 50%, rgba(0,0,0,1) 75%);
        overflow-y: auto;
    }
  }
.top-button-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}