<div class="thread-container" [ngStyle]="{'width': getWidth()}">
    <div *ngIf="!post" class="action-buttons">
        <button id="add-post-button" (click)="createPost()" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <!--<label class="add-post-label" for="add-post-button"><i class="fa fa-plus" aria-hidden="true"></i></label>-->
    </div>
    <app-post *ngIf="post" [ownerThreadContainer]="component" [post]="post" [threadLength]="threadLength" (setBasePost)="setBasePost($event)" (popOutThreadEmitter)="popOutThread($event)" (postDeleted)="destroy()" (expandToggle)="expandToggle()" (createPost)="createPost()"></app-post>
    <ng-template #container ></ng-template>
</div>
<div *ngIf="createPostActive" class="add-post-container">
    <app-create-post [post]="post" (cancelCreatePost)="cancelCreatePost()" (newPostCreated)="newPostCreated($event)"></app-create-post>
</div>