.thread-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    border-width: 1px;
    
}
.add-post-container{
    position: absolute;
    width: 50vw;
    height: 50vh;
    margin: auto;
    top: 25vh;
    left: 25vw;

}
.action-button{
    border-style: none;
    font-size: 25px;
    color: whitesmoke;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
