<div class="comp-body">
<form #registerForm="ngForm" class="form" (ngSubmit)="submitPost()" autocomplete="off">
    <h2 class="text-center text-primary">Create Post</h2>
    <hr>
    <div class="mb-3 form-element">
        <input type="text" class="form-control" name="title" [(ngModel)]="model.title" placeholder="title..">
    </div>
    <div class="mb-3 form-element">
        <textarea type="text" class="form-control" name="content" [(ngModel)]="model.content" placeholder="text..."></textarea>
    </div>
    <div class="img-upload-container">
        <input type="file" id="file-button" ng2FileSelect [uploader]="uploader" multiple  hidden/>
        <label for="file-button"><i class="fa fa-file-image-o fa-10x" aria-hidden="true"></i></label>
        <button type="button" class="btn btn-danger btn-s btn-remove"
                    (click)="uploader?.clearQueue()" [disabled]="!uploader?.queue?.length">
            <span class="fa fa-trash"></span> Remove all
        </button>
    </div>
    <div class="text-center form-element">
        <button class="btn btn-success me-2" type="submit">submit</button>
        <button (click)="cancelAddPost()">cancel</button>
    </div>
    <div>
        Queue progress:
        <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader?.progress + '%' }"></div>
        </div>
    </div>
</form>

</div>